<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tigerbase.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".ArtistSearch.ArtistSearchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArtistTop10.ArtistTop10Activity"
            android:label="@string/top_tracks_name"
            android:parentActivityName=".ArtistSearch.ArtistSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArtistSearch.ArtistSearchActivity" />
        </activity>
        <activity
            android:name=".Player.PlayerActivity"
            android:label="@string/player_name"
            android:parentActivityName=".ArtistTop10.ArtistTop10Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArtistTop10.ArtistTop10Activity" />
        </activity>
        <service android:name=".Player.PlayerService" />
    </application>

</manifest>
